<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="icon">
        <a href="/">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div class="contact-container">
        <form action="/sendmessage" method="post">
            <h2>CONTACT FORM</h2>
            <input type="email" name="email" id="email" placeholder="Email">
            <textarea name="message" id="message" placeholder="Enter your message..."></textarea>
            <button type="submit">SUBMIT</button>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/36d75da672.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>