<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar">
        <h3>
            <span style="color: #84ba68">Node </span>🤝 <span style="color: #259dff;">Express</span>
        </h3>
        <ul>
            <a href="/contact">CONTACT</a>
            <a href="/logout">LOGOUT</a>
        </ul>
    </nav>

    <script src="script.js"></script>
</body>
</html>