<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="contact-container">
        <form action="/login" method="post">
            <h3>
                <span style="color: #84ba68">Node </span>🤝 <span style="color: #259dff;">Express</span>
            </h3>
            <input type="text" name="username" id="username" placeholder="username" required>
            <input type="password" name="password" id="password" placeholder="password" required>

            <p class="error"><%= locals.message %></p>

            <button type="submit">Login</button>
            <p>New to N&E? <a href="/signup">Sign up here</a></p>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/36d75da672.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>